body {
  background: rgba(0, 136, 255, 0.458);
}
body {
  margin: 0 0 0 0;
}
.button {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  height: 60px;
  width: 150px;
  background-color: black;
  color: white;
  transition: all linear 10ms;
}
/* button:hover {
  color: black;
  background-color: white;
} */
h4 {
  margin-left: 8px;
  display: block;
  float: left;
}
.lol {
  margin: 0 auto;
}
