body {
  background: rgb(255, 255, 255);
}
body {
  margin: 0 0 0 0;
}
/* .button {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* button {
  margin-top: 40px;
  height: 60px;
  width: 150px;
  background-image: linear-gradient(to right, #FBD3E9 0%, #BB377D  51%, #FBD3E9  100%)
  transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px
} */
/* button:hover {
  color: black;
  background-color: white;
} */
h4 {
  margin-left: 8px;
  display: block;
  float: left;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 1s;
}
.lol {
  margin: 0 auto;
}
h4:hover {
  color: rgb(0, 47, 255);
  transform: scale(1.14, 1.14);
}

button {
  margin: 50px 50px 0;
  background: black;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
  /* background-size: 200% auto; */

  /* box-shadow: 0 0 20px rgb(0, 247, 255); */
  border-radius: 10px;
  display: block;
}

button:hover {
  /* border: 2px solid rgb(255, 255, 255); */

  color: rgb(255, 255, 255);
  box-shadow: rgb(255, 255, 255) 0px 3px 3px 0px;
}
